h1{
    padding: 2.5%;
    font-weight: normal;
	font-family: 'Assistant', sans-serif;
	line-height: 1.5;
	height: 10%;
    text-align: left;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Assistant', sans-serif;
	line-height: 1.5;
	text-align: center;
	background: #e5e5e5;
}

body.forecast {
	color: #fff;
}

.cat1 {
	background: #3b7a3e;
}

.cat2 {
	background: #aa9648;
}

.cat3 {
	background: #9f6f3b;
}

.cat4 {
	background: #9b3f3f;
}

.cat5 {
	background: #5f3c66;
}

.cat6 {
	background: #68212e;
}

ul#full-report {
    list-style: none;
    padding: 2.5%;
}

ul#full-report span {
    font-weight: 700;
}

div#overall-aqi {
    font-size: 500%;
}

ul#top-10{
    list-style: none;
    text-align: center;
    height: 200%;
}

ul#top-10 a{
    color = #fff;
}

