/* SASS Variables */

$bg-color: #e5e5e5;

$cat1: #3b7a3e;
$cat2: #aa9648;
$cat3: #9f6f3b;
$cat4: #9b3f3f;
$cat5: #5f3c66;
$cat6: #68212e;

$cat-colors: ("cat1": $cat1, "cat2": $cat2, "cat3": $cat3,
        "cat4": $cat4, "cat5": $cat5, "cat6": $cat6);

body {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
	line-height: 1.5;
    font-size: 18px;
	background: $bg-color;
}

body.forecast {
	color: #fff;
}
input#id_zip_code::placeholder {
    color: #ccc;
}

input#id_zip_code {
    color: #111;
    background: none;
    border: none;
    border-bottom: 3px solid rgba(0, 0 ,0, .3);
    font-size: 3em;
    text-align: center;
    font-family: 'Roboto Thin';
    padding: .25em 0;
    max-width: 95%;

}

input#id_zip_code:focus {
    background: rgba(200,200,200,.15);
    outline: none;
}

input[type="submit"] {
    display: none;
}

.forecast input#id_zip_code:focus {
    background: rgba(150,150,150,.1)
}

.forecast input#id_zip_code {
    color: #fff;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, .3);
}

#site-branding h1 {
    padding: .25em 2.5%;
    font-weight: 100;
    margin: 0;
}

.cat1 {
	background: $cat1;
}

.cat2 {
	background: $cat2;
}

.cat3 {
	background: $cat3;
}

.cat4 {
	background: $cat4;
}

.cat5 {
	background: $cat5;
}

.cat6 {
	background: $cat6;
}



ul#full-report {
    list-style: none;
    padding: 2.5%;
}

ul#full-report span {
    font-weight: 300;
}

div#overall-aqi p {
    font-size: 800%;
    text-align: center;
    line-height: 1em;
    margin: 0 0 .25em 0;
}

ul#populated-cities {
    list-style: none;
    text-align: center;
    padding: 0;
    background: $bg-color;
    margin-top: 5em;
}

ul#populated-cities li a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: block;
    transition: opacity .2s ease-in-out;
    opacity: .95;
    text-align: center;
}

ul#populated-cities li a span {
    font-weight: 600;
}

// Assign correct background color to li elements
@each $class, $color in $cat-colors {
  ul#populated-cities li.#{$class} {
    border-color: rgba($color, .98);
  }
}

ul#populated-cities li {
    border-top: 2px solid;
    background: none;
}

ul#populated-cities li a:hover {
    opacity: .9;
}

form {
    text-align: center;
}

form label {
    display: none;
}

p#reporting-area {
    text-align: center;
}

ul#full-report {
    max-width: 600px;
    padding: 0 2.5%;
    margin: 0 auto;
}