{% extends "base.html" %}

{% block content %}

<main>
    <h1>Page not found.</h1>
    <p>Please enter a valid zip code or click on a city below.</p>

    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="OK">
        <p>Enter a 5-digit zip code </p>
    </form>
</main>

<div>
    <ul id="populated-cities">
        {% for x in populated_city_reports %}
            <li class="cat{{ x.max_cat }}"><a class="cat{{ x.max_cat }}" href="/{{ x.zip_code }}">{{ x.reporting_area }} <span>{{ x.max_aqi }}</span></a> </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}


{% block footer %}
{% endblock footer %}

