{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="main-city-data">
    {% autoescape off %}
    {{ color_key }}
    {% endautoescape %}

    <div id="overall-aqi">
        <p>
            {% if city.max_aqi %}
                {{ city.max_aqi }}
            {% else %}
                {# Add non-breaking space to maintain vertical space?  #}
                &nbsp;
            {% endif %}
        </p>
    </div>

    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="OK">
    </form>

    {% if no_result %}
        <p id="no-result">
            {% autoescape off %}
            {{ no_result }}
            {% endautoescape %}
        </p>
    {% elif not city %}
        <p>Enter a U.S. zip code for the <strong>air quality right now.</strong></p>
    {% else %}
        <p id="reporting-area">{{ city.reporting_area }}, {{ city.state_code }}</p>

        <ul id="full-report">
            {% for x in city.full_report %}
                <li><span>{{ x.pollutant }}:</span> {{ x.pollutant_aqi }} ({{ x.cat_name }})</li>
            {% endfor %}
        </ul>

        <p id="updated">Last updated: <strong>{{ city.report_time }}</strong></p>

        {% if city.advisory %}
            <p id="advisory">
                {{city.advisory}}
            </p>
        {% endif %}

        <div id="historical">
            {% if historical_report != None %}
                <div class="chart">
                    <!-- Historical data visualization -->
                    {{ historical_report | json_script:"historical_json" }}
                </div>
            {% else %}
                <p>Historical currently unavailable for <strong>{{ city.zip_code }}</strong>.</p>
            {% endif %}
        </div>

    {% endif %}
</div>

<div id="cities">
    <ul id="populated-cities">
        {% for x in populated_city_reports %}
            <li class="cat{{ x.max_cat }}">
                <a class="cat{{ x.max_cat }}" href="/{{ x.zip_code }}">{{ x.reporting_area }}, {{ x.state_code }}
                <span>{{ x.max_aqi }}</span></a>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="loader-wrap">
    <div class="loader"></div>
</div>

{% endblock content %}


{% block footer %}
    <!-- Monitor zip code input events -->
    <script>
        (function () {
            const form_input = document.getElementById("id_zip_code");
            const form = document.getElementsByTagName("form")[0];

            // Hide loader animation on page load
            let loader = document.getElementById("loader-wrap");
            loader.style.display = "none";

            // Auto-focus on the zip code input
            form_input.focus();

            // Regular expression for validating input
            // (numbers 0-9 only)
            const regex = new RegExp("^[0-9]+$");

            // Handle input changes
            form_input.addEventListener("input", function (event) {
                if (this.value.length === 5 && regex.test(this.value)) {
                    // Display loader animation
                    // while input is validating
                    loader.style.display = "block";

                    // Submit form if input valid
                    // (5 numeric digits)
                    form.submit()
                }
            });

            // Handle key presses
            form_input.addEventListener("keypress", function (event) {
                // Block non-numeric characters
                // if regex test fails
                if (!regex.test(event.key)) {
                    event.preventDefault();
                    return false;
                }
                else {
                    // Determine if user has selected any text
                    let selection = form_input.value.substring(form_input.selectionStart, form_input.selectionEnd);

                    // Clear input if no text is selected
                    // and user starts typing with full input
                    if (this.value.length === 5 && selection.length === 0) {
                        this.value = "";
                    }
                }
            });
        })();
    </script>

    <!-- Make color key clickable -->
    <script>
        (function () {
            const color_key = document.getElementById("color-key");
            let initial_pos = "-7em";

            if (document.body.classList.contains("forecast")) {
                color_key.style.left = "0px";
                setTimeout(function() {
                    color_key.style.left = initial_pos;
                }, 1500);
            }
            else {
               color_key.style.left = initial_pos;
            }

            color_key.addEventListener("click", function () {
                let current_pos = color_key.style.left;

                if (current_pos === "0px") {
                    color_key.style.left = initial_pos;
                } else {
                    color_key.style.left = "0px";
                }
            })
        })();
    </script>

    <!-- Add historical chart if data is available -->
    {% if historical_report != None %}
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="{% static 'js/historical.js' %}"></script>
    {% endif %}
{% endblock footer %}
