{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>aqrn</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
       </head>
    <body class="{{ body_classes }}">

        <div id="site-branding">
            <a href="/"><h1>aqrn</h1></a>
        </div>

        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>

        <footer>
            {% block footer %}
            {% endblock footer %}
        </footer>

{#        <script src="{% static 'main.js' %}"></script>#}
    </body>
</html>
