{% extends "base.html" %}

{% block content %}

    {% if city.max_aqi %}
        <div id="overall-aqi">{{ city.max_aqi}}</div>
    {% endif %}

<form action="." method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK">
</form>

<div>

    {% if city.reporting_area %}
        Reporting area: {{ city.reporting_area }} <br />

        <ul id="full-report">
        {% for x in city.full_report %}
            <li><span>{{ x.pollutant }}:</span> {{ x.pollutant_aqi }} ({{ x.cat_name }})</li>
        {% endfor %}
        </ul>

{#        <p>Full json report:</p>#}
{#        {{ city.realtime_json }}#}
    {% endif %}

</div>

<div>
    <ul id="populated-cities">
        {% for x in populated_city_reports %}
            <li><span><a class="cat{{ x.max_cat }}" href="#">{{ x.reporting_area }} {{ x.max_aqi }}</a></span></li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}

