{% extends "base.html" %}

{% block content %}
<div id="overall-aqi">
<p>
    {% if city.max_aqi %}
        {{ city.max_aqi}}
    {% else %}
        {# Add non-breaking space to maintain vertical space?  #}
        {# &nbsp;#}
    {% endif %}
</p>
</div>
<form action="." method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK">
</form>

<main>

    {% if city.reporting_area %}
        <p id="reporting-area">{{ city.reporting_area }}</p>
        <ul id="full-report">
        {% for x in city.full_report %}
            <li><span>{{ x.pollutant }}:</span> {{ x.pollutant_aqi }} ({{ x.cat_name }})</li>
        {% endfor %}
        </ul>

        {% for x in historical_report %}
            <p>{{ x }}</p>
        {% endfor %}

    {% endif %}

</main>

<div>
    <ul id="populated-cities">
        {% for x in populated_city_reports %}
            <li class="cat{{ x.max_cat }}"><a class="cat{{ x.max_cat }}" href="/{{ x.zip_code }}">{{ x.reporting_area }} <span>{{ x.max_aqi }}</span></a> </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}

